.some-page-wrapper {
  background-color: red;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 15px;
  position: absolute;
  padding: 80px 40px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.single-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  margin: 0px 10px;
}
.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  margin: 0px 10px;
}
