.some-page-wrapper {
  margin: 0px;
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 10px;
}

.blue-column {
  background-color: blue;
  height: 100px;
}

.green-column {
  background-color: green;
  height: 100px;
}

.orange-column {
  background-color: orange;
  height: 100px;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  padding-right: 0px;
}

.single-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
